 /* Sorry if css is messy im being hard carried by w3schools and mdn web docs ;-; */

h1 {
    margin: 0px 0;
    text-align: center;
    color: var(--text-950);
}

small {
    text-align: center;
}
ul, h5, p, ol {
    margin: 50px 30px;
}


#flexbox {
    
    justify-content: center;  
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    padding: 0 30px 30px 30px ;
    transform: translateY(20%);
    animation: moveup 0.8s ease 0.6s 1 normal forwards;

}
@keyframes moveup {

    to {
        transform: translateY(0%);
    }
}
#flexbox > div{
    width: 100%;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.74);
    /* box-shadow: 0 0 50px rgba(0,0,0,0.74) inset; */
    border-radius: 10px;
    z-index: auto;
    border: 2px solid rgb(0, 0, 0);
}


/* Image div and header text */
#flexbox > div.imageDiv {
    background-color: var(--primary-100);
    z-index: 4;
    position: relative;
    overflow: hidden;
    height: 25vh;
}
.imageDiv > h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #292929;
    background-color: #dddddd;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 3rem;
}
#image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    
}


/* Text box divs*/
#flexbox > .descriptionDiv {

    background-color: var(--primary-200);   
    z-index: 3;
    transform: translateY(-100%);
    animation: descendDiv 0.8s ease 1.5s 1 normal forwards;
}
#flexbox > .ingredientsDiv {

    background-color: var(--secondary-300);
    z-index: 2;
    transform: translateY(-220%);
    animation: descendDiv 0.8s ease  2s 1 normal forwards;
}
#flexbox > .stepsDiv {

    background-color: var(--accent-400);
    z-index: 1;
    transform: translateY(-380%);
    animation: descendDiv 0.8s ease 2.5s 1 normal forwards;
    
}
@keyframes descendDiv {
    from {
        /*I genuinely have no idea why this fixes the animation clipping so...*/
        z-index: 0;
    }
    to {
        transform: translateY(0);  
    }
}


.credit {
    padding-top: 10%;
    text-align: center;
}

@media (min-width: 1001px) {
    #flexbox {
        margin: 0 22vw;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    #flexbox {
        margin: 0 10vw;
    }
}
@media (max-width: 600px) {
    #flexbox {
        margin: 0 0vw;
    }
}



.backButton {
    margin: 5px;
    position: fixed;
}